Repository upciti/wakemeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate_packages, test_packages, push_packages, publish_s3, pages

generate_packages:
  image: $WAKEMEBOT_IMAGE
  tags:
  - wakemebot
  retry: 2
  parallel:
    matrix:
    - component: devops
    - component: secops
    - component: terminal
  stage: build
  script:
  - make generate-${component}
  - make build-${component}
  artifacts:
    paths:
    - build/**/*deb
    expire_in: 2 days

test_packages:
  image: ${DISTRO}:${VERSION}
  tags:
  - wakemebot
  retry: 1
  parallel:
    matrix:
    - DISTRO: ubuntu
      VERSION:
      - '16.04'
      - '18.04'
      - '20.04'
      - '21.04'
      - '21.10'
    - DISTRO: debian
      VERSION:
      - bookworm-slim
      - bullseye-slim
      - buster-slim
      - stretch-slim
  stage: test
  ...

push_packages:
  image: $WAKEMEBOT_IMAGE
  tags:
  - wakemebot
  retry: 2
  parallel:
    matrix:
    - component: devops
    - component: secops
    - component: terminal
  stage: push
  script:
  - make push-${component}

publish_s3:
  image: $WAKEMEBOT_IMAGE
  tags:
  - wakemebot
  retry: 2
  stage: publish
  script:
  - make publish

pages:
  stage: pages
  image: $WAKEMEBOT_IMAGE
  script:
  - make docs
  artifacts:
    paths:
    - public
  needs: []

feature(bot): update packages
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(apt): replace apt-key by gpg
  assets/install_repository
Due: none

chore(ci): update bot commit message
  .gitlab-ci.yml
Due: none

chore(minio): update minio packages
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): update packages
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(packages|dev): add python poetry
  ops2deb-dev.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(packages|dev): add pyenv v2.2.2
  ops2deb-dev.yml
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/dev.md
  docs/components/devops.md
  docs/theme_override_home/home.html
Due: pages

feat(make): use apt instead of dkpg
  Makefile
Due: none

chore(bot): update packages
  ops2deb-secops.yml
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): update packages
  ops2deb-secops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(bot): update packages
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(docker): add debian-frontend to noninteractive
  Dockerfile
Due: none

chore(bot): update packages
  ops2deb-dev.yml
Due: generate_packages, test_packages, push_packages, publish_s3

fix(docs): add users to make commands
  Makefile
Due: none

chore(docs): update documentation
  docs/components/dev.md
  docs/components/devops.md
  docs/components/secops.md
  docs/components/terminal.md
Due: pages

chore(docs): update readme
  README.md
Due: none

fix(dev): add pyenv and pyoxidizer homepages
  ops2deb-dev.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/dev.md
  docs/components/devops.md
  docs/components/secops.md
  docs/components/terminal.md
  docs/theme_override_home/home.html
Due: pages

chore(docs): cleaner homepage
  docs/theme_override_home/asciinema-player.css
  docs/theme_override_home/asciinema-player.min.js
  docs/theme_override_home/home.css
  docs/theme_override_home/home.html
  mkdocs.yml
Due: pages

chore(docs): improve homepage on small displays
  docs/theme_override_home/home.css
Due: pages

feat(packages|dev): add github cli
  ops2deb-dev.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/dev.md
  docs/theme_override_home/home.html
Due: pages

feat(packages|terminal): add chezmoi
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(terminal): add chezmoi
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(ci): configure gitlab external ci
  .gitlab-ci.yml
  here
Due: none

chore(ci): configure gitlab external ci
  .gitlab-ci.yml
Due: none

Path conditions:
  generate_packages: any of: ops2deb-*.yml
  test_packages: any of: ops2deb-*.yml
  push_packages: any of: ops2deb-*.yml
  publish_s3: any of: ops2deb-*.yml
  pages: any of: docs/**/*, mkdocs.yml
