Repository upciti/wakemeops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate_packages, test_packages, push_packages, publish_s3, pages

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

variables:
  WAKEMEBOT_IMAGE: "upciti/wakemebot:main"

stages:
  - update
  - build
  - test
  - push
  - publish
  - pages

# Templates
.default:
  image: $WAKEMEBOT_IMAGE
  tags: ["wakemebot"]
  retry: 2

.schedule:
  extends: .default
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'

.no_schedule:
  extends: .default
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - changes:
        - ops2deb-*.yml
      when: on_success

.prod_no_schedule:
  extends: .default
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - ops2deb-*.yml
      when: on_success

.parallel_component:
  extends: .default
  parallel:
    matrix:
      - component: devops
      - component: secops
      - component: terminal

.parallel_distro:
  extends: .default
  retry: 1
  parallel:
    matrix:
      - DISTRO: ubuntu
        VERSION: ["16.04", "18.04", "20.04", "21.04", "21.10"]
      - DISTRO: debian
        VERSION:
          ["bookworm-slim", "bullseye-slim", "buster-slim", "stretch-slim"]


# Anchors
.enable_ssh: &enable_ssh
  - eval $(ssh-agent -s)
  - echo "${SSH_PRIVATE_KEY}" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh || echo
  - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts

.git_configure: &git_configure
  - git config --replace-all user.name $GITLAB_USER_NAME
  - git config --replace-all user.email $GITLAB_USER_EMAIL
  - git config push.default simple

.git_commit_push: &git_commit_push
  - git remote set-url --push origin git@$CI_SERVER_HOST:$CI_PROJECT_PATH.git
  - branch="feature/update-packages-$(date '+%Y%m%d%H%M%S')"
  - git checkout -b ${branch}
  - git add ops2deb-*.yml
  - >
    echo -e "feature(bot): update packages\n" > message.log
  - cat ops2deb-*.log >> message.log || true
  - git commit -m "$(cat message.log)"
  - >
    git push \
      -o merge_request.create \
      -o merge_request.target=${CI_DEFAULT_BRANCH} \
      -o merge_request.merge_when_pipeline_succeeds \
      --set-upstream origin \
      ${branch}

.install_dependencies: &install_dependencies
  - apt-get update
  - apt-get install -y ${APT_DEPENDENCIES}

update_blueprints:
  stage: update
  extends: .schedule
  before_script:
    - *enable_ssh
    - *git_configure
  script:
    - make update
    - git update-index -q --really-refresh
    - if git diff-index HEAD --quiet; then exit 0; fi # exit if no changes
    - *git_commit_push
  variables:
    GIT_STRATEGY: clone
    GITLAB_USER_NAME: "wakemebot"
    GITLAB_USER_EMAIL: "wakemebot@upciti.com"

generate_packages:
  stage: build
  extends:
    - .no_schedule
    - .parallel_component
  script:
    - make generate-${component}
    - make build-${component}
  artifacts:
    paths:
      - build/**/*deb
    expire_in: 2 days

test_packages:
  stage: test
  image: ${DISTRO}:${VERSION}
  extends:
    - .no_schedule
    - .parallel_distro
  before_script:
    - *install_dependencies
    - make install-packages
  script:
    - make check-packages
  variables:
    APT_DEPENDENCIES: "curl gnupg2 ca-certificates make"

push_packages:
  stage: push
  extends:
    - .prod_no_schedule
    - .parallel_component
  script:
    - make push-${component}

publish_s3:
  stage: publish
  extends: .prod_no_schedule
  script:
    - make publish

pages:
  stage: pages
  image: $WAKEMEBOT_IMAGE
  script:
    - make docs
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - docs/**/*
        - mkdocs.yml
  needs: []

feat(docker): add docker images
  .gitlab-ci.yml
  Dockerfile
  assets/install_packages
Due: none

feat(packages): move xsv from devops to terminal
  ops2deb-devops.yml
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

fix(krew): remove krew update
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

fix(krew): add git dependencies
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feature(bot): update packages
  ops2deb-secops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(package|dev): add pyoxidizer v0.18.0
  .gitlab-ci.yml
  ops2deb-dev.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/dev.md
  docs/components/secops.md
  docs/components/terminal.md
Due: pages

chore(secops|terminal): add homepage to all blueprints
  ops2deb-secops.yml
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/secops.md
  docs/components/terminal.md
  mkdocs.yml
Due: pages

feature(bot): update packages
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(container): add wakemeops images
  .gitlab-ci.yml
  .pre-commit-config.yaml
  Dockerfile
Due: none

feat(ci): test packages with wakemeops images
  .gitlab-ci.yml
  Makefile
Due: none

chore(docs): update documentation
  docs/components/devops.md
  docs/components/secops.md
Due: pages

feat(docs): update priority command
  docs/getting-started.md
Due: pages

feat(make): add docs-update command
  Makefile
Due: none

chore: switch to production gpg key
  Makefile
Due: none

chore: add install repository script
  .gitlab-ci.yml
  Dockerfile
  assets/install_repository
Due: none

chore(docs): update installation instructions
  docs/getting-started.md
Due: pages

chore(devops): format configuration, cleaner descriptions
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

fix(ci): change -w to -o in calls to ops2deb
  Makefile
Due: none

fix(devops|helmfile): empty lines are not allowed in descriptions
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(packages): add some packages
  ops2deb-dev.yml
  ops2deb-secops.yml
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore: cleaner configuration files
  ops2deb-dev.yml
  ops2deb-secops.yml
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(Makefile): add ops2deb format shorthand
  Makefile
Due: none

feat(packages): update yq to 4.16.1
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(docs): update documentation
  docs/components/dev.md
  docs/components/devops.md
  docs/components/secops.md
  docs/components/terminal.md
  docs/theme_override_home/home.html
Due: pages

feature(bot): update packages
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(devops): add some google container tools tools
  ops2deb-devops.yml
Due: generate_packages, test_packages, push_packages, publish_s3

feat(dev): add gitlab release-cli
  ops2deb-dev.yml
Due: generate_packages, test_packages, push_packages, publish_s3

fix(packages): move gitlab release-cli to devops and clog-cli to dev
  ops2deb-dev.yml
  ops2deb-devops.yml
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3

chore(packages): replace install by mv
  ops2deb-dev.yml
  ops2deb-devops.yml
  ops2deb-secops.yml
  ops2deb-terminal.yml
Due: generate_packages, test_packages, push_packages, publish_s3
